.contact {
  display: flex;
  flex-direction: column;
  color: #777777;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contactListItem {
  transition: all 0.25s ease-in-out;
}

.contactListItem:not(:nth-last-child(1 - 2)):hover {
  color: #37404e
}

.contactListItemLink,
.contactListItemText {
  display: flex;
  gap: 8px;
  align-items: center;
}

.contactListItemIconWrapper {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.contactListItemIcon{
  max-width: 100%;
  max-height: 100%;
  transition: all 0.25s ease-in-out;
}

.contactListItem:not(.contactListItem:nth-last-child(2)):hover .contactListItemIcon {
  filter: brightness(0) saturate(100%) invert(22%) sepia(10%) saturate(1212%) hue-rotate(178deg) brightness(93%) contrast(87%);
}

.contactListItem:nth-last-child(1) {
  margin-top: 16px;
}
