.layout {
  display: flex;
  padding: 28px;
  gap: 28px;
}

.header {
  display: flex;
  flex-direction: column;
  color: #8e959f;
}

.logoWrapper {
  margin-bottom: 32px;
}

.logoTitle {
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #606d80;
  white-space: nowrap;
}

.logoSubTitle {
  font-size: 16px;
}

.navList {
  display: flex;
  flex-direction: column;
}

.navLink {
  font-size: 20px;
  transition: all 0.25s ease-in-out;
  padding: 2px 0;
}

.navLink:nth-last-child(1) {
  margin-top: 16px;
  font-size: 16px;
}

.navLink:hover {
  color: #37404e;
}

.burgerMenuButton {
  display: none;
  width: 35px;
  height: 32px;
  position: relative;
  cursor: pointer;
}

.burgerMenuButtonLine {
  display: block;
  position: absolute;
  width: 35px;
  height: 2px;
  background:  #8e959f;
  transition: all 0.2s ease-in-out;
}

.burgerMenuButton:hover .burgerMenuButtonLine {
  background: #37404e;
}

.burgerMenuButtonLine:nth-last-child(3) {
  bottom: 25%;
}

.burgerMenuButtonLine:nth-last-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burgerMenuButtonLine:nth-last-child(1) {
  top: 25%;
}

.closeButtonWrapper {
  position: relative;
  display: none;
  width: 40px;
  height: 40px;
  margin: 16px;
}

@media screen and (max-width: 576px) {
  .layout {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }

  .header {
    width: 100%;
    flex-direction: row;
    background-color: #f0f0f0;
  }

  .logoWrapper {
    margin-bottom: 0px;
  }

  .nav {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f0f0f0;
    padding: 16px;
    transition: all 0.3s ease-in-out;
  }

  .burgerMenuButton {
    display: block;
    margin-left: auto;
  }

  .burgerMenuButton.burgerMenuActive {
    display: none;
  }

  .burgerMenuActive {
    transform: translateY(100vh);
  }

  .closeButtonWrapperActive {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
  }
}
