.gallery {
  width: 100%;
  padding-top: 40px;
}

.image {
  transition: all 0.1s ease-in-out;
}

.image:hover {
  cursor: pointer;
  filter: brightness(1.1) contrast(0.95);
}

.arrowWrapper {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #8e959f;
  border-radius: 50%;
  opacity: 0.3;
  transition: all 0.2s ease-in-out;
}

.arrowWrapper:hover {
  opacity: 1;
}

.arrowWrapper:hover {
  opacity: 1;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  border: solid #37404e;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: translate(-50%, -25%) rotate(-135deg);
  -webkit-transform: translate(-50%, -25%) rotate(-135deg);
  padding: 15px;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 576px) {
  .gallery {
    padding-top: 0px;
  }
}
